/* General */

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    overflow-y: hidden;
    /* padding-bottom: 50px; */
    /* background-color: #F4F6F9; */
}
iframe{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);

    margin: 10px;
    border-radius: 15px;
}
button:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}
.bold{
    font-weight: bold;
}
.pop_up{
    display: none;
    padding: 10px 20px;
    width: 13%;
    font-size: medium;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    /* text-align: center; */
    border-radius: 5px;
    animation: turn_invisible 4s;
    opacity: 0;
    z-index: 2;
} 

@keyframes turn_invisible {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.error_pop_up{
    color: white;
    background-color: #e66b6b;
}
.info_pop_up{
    color: white;
    background-color: #6ba0e6;
    width: 20%;
}

/* base page */


.titleBar{
    background-color: black;
    height: 70px;
    padding: 0 5vw;
    position: relative;
}
.titleSpan{
    background-color: #01A982;
    color: white;
    padding: 5px 5px;
    font-weight: bold;
    width: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.title{
    background-color: black;
    padding: 8px 12px;
}
.page{
    display: flex;
    margin-top: 2px;
}
.page_navbar{
    width: 15%;
    border-right: lightgray 1px solid;
}
.back_link{
    display: block; 
    margin: 10px 20px;
    text-decoration: underline;
    color: #01A982;
    font-size: small;
}
.page_navbar hr{
    width: 85%;
    margin: auto;
    background-color: #ddd;
    height: 1px;
    border: none;
    /* border: 1px solid #e6efef; */
}
.page_content{
    width: 85%;
    height: 90vh;
    overflow-y: auto;
    height: calc(100vh-70px);
}
.page_nav_item{
    /* margin: 0px 15px; */
    padding: 17px 20px;
    box-sizing: border-box;
    /* width: 90%; */
    margin: auto;
    /* border-bottom: lightgray 1px solid; */
    font-size: small;
}
.reporting_sub_item{
    margin-left: 10px;
}
.selected_nav_item{
    font-weight: bolder;
    color: #01A982;
}
.page_nav_item:hover{
    cursor: pointer;
}

/* index page */

.navbar{
    margin: 0px 3%;
    padding: 15px 3%;
    border-bottom: #01A982 solid 2px;
}
.navButton{
    background-color: white;
    border: grey solid 1px;
    padding: 10px 20px;
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 5px;
}
.navButton:hover{
    cursor: pointer;
    background-color: #01A982;
    border: none;
    /* transform: scale(1.02); */
    border: 1px white solid;
    color: white;
}
.stat_div{
    text-align: center;
}
#stat_1{
    margin: 20px auto;
}
.stat_1_flex{
    margin: 40px auto;
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: center;
}
.image{
    display: inline-block;
    margin:auto;
    padding:0;
    border:none;
}
.iframe_container{
    height: 70vh;
    margin-top: 40px;
    /* margin-bottom: -20px; */
}
.selectedBorder{
    border: #01A982 solid 3px
}
.selectedBorder:hover{
    border: #01A982 solid 3px
}
.white_box{
    padding: 0px 40px;
    margin: auto;
    margin-top: 40px;
    width: 85%;
    background-color: white;
    border-radius: 15px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1); */
}
.stat_title_box{
    text-align: left;
    width: 100%;
    margin: auto;
}
.stat_title_box * {
    margin: 10px 0;
}
.loading_screen{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: #00000099;
    color: white;
}
.loading_text{
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%,-50%);
    font-size: 30px;
}

.footprint_row{
    display: flex;
    margin: 20px auto;
    /* margin-bottom: 40px; */
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}

.footprint_col{
    width: 31%;
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #00000010;
    padding: 15px 0;
}

.trend_col{
    width: 49%;
    height: 400px;
}

.footprint_title{
    font-weight: bold;
    font-size: medium;
    margin-bottom: 5px;
    color: #01A982;
}

.footprint_data{
    color: #000000aa;
    font-size: xx-large;
    margin-top: 10px;
}

.footprint_data_unit{
    font-size: small;
    margin-bottom: 10px;
}

#hill {
    position: absolute;
    width: 7.1em;
    height: 7.1em;
    top: -1em;
    left: -1em;
    background-color: transparent;
    border-left: .25em solid white;
    transform: rotate(45deg);
}

#hill:after {
    content: '';
    position: absolute;
    width: 7.1em;
    height: 7.1em;
    left: 0;
}

#box {
    position: absolute;
    left: -3em;
    bottom: 0em;
    top: 1.4em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    border: .25em solid #01A982;
    border-radius: 15%;
    transform: translate(0, -1em) rotate(-45deg);
    animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

#loading_backbox{
    background-color: #000000aa;
    width: 350px;
    height: 380px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

@keyframes push {
    0% {
      transform: translate(0, -1em) rotate(-45deg);
    }
    5% {
      transform: translate(0, -1em) rotate(-50deg);
    }
    20% {
      transform: translate(1em, -2em) rotate(47deg);
    }
    25% {
      transform: translate(1em, -2em) rotate(45deg);
    }
    30% {
      transform: translate(1em, -2em) rotate(40deg);
    }
    45% {
      transform: translate(2em, -3em) rotate(137deg);
    }
    50% {
      transform: translate(2em, -3em) rotate(135deg);
    }
    55% {
      transform: translate(2em, -3em) rotate(130deg);
    }
    70% {
      transform: translate(3em, -4em) rotate(217deg);
    }
    75% {
      transform: translate(3em, -4em) rotate(220deg);
    }
    100% {
      transform: translate(0, -1em) rotate(-225deg);
    }
}

/* Login css */
.auth_body{
    /* height: calc(100vh-70px); */
}

.auth_container{
    min-width: 400px;
    width: 30%;
    height: 50vh;
    padding: 50px 40px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: #01A982 1px solid; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);

    border-radius: 20px;
}

.auth_title{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.auth_subtitle{
    font-size: medium;
    margin-bottom: 20px;    
}

.auth_input_box{
    display: flex;
    margin-bottom: 15px;
}

.auth_input{
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: lightgray solid 2px;
    border-radius: 5px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: medium;
    outline: none;
    /* background-color: #01A982; */
}

.auth_input_icon{
    width: 30px;
    height: 30px;
    padding: 3px 5px;
    border: lightgray solid 2px;
    border-radius: 5px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.auth_submit_btn{
    width: 100%;
    padding: 14px;
    background-color: #01A982;
    border: none;
    color: white;
    border-radius: 5px;
}

.img-zoom-container {
    position: absolute;
    right: 30px;
    top: 3%;
    /* transform: translateY(-50%); */
    width: 300px;
    border: #01A98233 solid 2px;
  }
  
  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 36px;
    height: 24px;
  }
  
  .img-zoom-result {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    /*set the size of the result div:*/
    width: 100%;
    height: 600px;
    margin: 50px auto;
  }
#wordtree_basic{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 850px;
    border-radius: 8px;
    padding: 10px 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.color_box{
    position: absolute;
    left: 18%;
    top: 18%;
    z-index: 20;
}
.ebs_color_box{
    width: 10px;
    height: 10px;
    background-color: #32DACF;
    border: none;
}
.onprem_color_box{
    width: 10px;
    height: 10px;
    background-color: #00526F;
    border: none;
}

/* dashboard css */

.dashboard_container{
    width: 60%;
    margin: auto;
}
.dashboard_row{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.dashboard_item{
    width: 30%;
    height: 30vh;
    text-align: center;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    font-weight: bold;
}
.dashboard_item a{
    border-radius: 5px;
    color: white;
}
.dashboard_item button{
    border: 1px solid #01A982;
    background-color: white;
    padding: 8px 15px;
    border-radius: 5px;
    /* color: white; */
}
.dashboard_item p{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: white;
}
#backup_table{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: 80%;
    margin: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    margin-top: 20px;
}
.backup_table_row{
    display: flex;
    padding: 20px 30px;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    font-size: small;
}
.backup_table_title_row{
    font-weight: bold;
    font-size: medium;
}
.backup_table_item{
    text-align: center;
    width: 19%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal_table{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: 90%;
    margin: auto;
    padding: 10px 0px;
}
.modal_table_row{
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    font-size: small;
}
.modal_table_item{
    width: 32%;
    text-align: center;
}
.rec_btn{
    border: none;
    background-color: #01A982;
    color: white;
    border-radius: 4px;
    padding: 4px 5px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    border-radius: 10px;
  background-color: #fefefe;
  margin: 0 auto; /* 15% from the top and centered */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 40px;
  width: 30%; /* Could be more or less, depending on screen size */
}
.create_btn{
    width: 90%;
    background-color: white;
    border: 1px solid #01A982cc;
    border-radius: 5px;
    padding: 4px 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}